<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trắc nghiệm tiếng Anh cho học sinh THPT</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">

        <div class="container fw-bold ">
            <img class="navbar-brand" src="~/Content/img/P2N 1.svg" />
            <buton type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </buton>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Kỳ thi", "Index", "Contests", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Ôn tập", "Index", "Contests", new { area = "" }, new { @class = "nav-link" })</li>

                    <li>@Html.ActionLink("Về chúng tôi", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <form class="form-inline d-flex nav-link flex-grow-1">
                        <input class="form-control mr-sm-2 search-bar flex-grow-1" type="search" placeholder="Search">
                        <button class="btn btn-outline-secondary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.415l-3.85-3.85a1.007 1.007 0 0 0-.115-.098zm-5.44 0a5.5 5.5 0 1 1 0-7.778 5.5 5.5 0 0 1 0 7.778z" />
                            </svg>
                        </button>
                    </form>
                </ul>

            </div>
            @{
                if (Session["UserName"] != null)
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/User/Profile" style="color: #007bff; font-weight: bold;">
                                <span class="fas fa-user"></span> @Session["UserName"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/Login/Logout" style="color: #007bff; font-weight: bold;">
                                <span class="fas fa-sign-in-alt"></span> Log Out
                            </a>
                        </li>
                    </ul>

                }
                else
                {
                    <ul class="nav nav-pills nav-justified gap-2" id="ex1" role="tablist">
                        <li class="nav-item bg-secondary rounded-pill" role="presentation">
                            <a class="nav-link text-danger" id="tab-login" data-mdb-pill-init href="/admin/Login/Login" role="tab"
                               aria-controls="pills-login" aria-selected="true">Login</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link bg-primary text-white rounded-pill" id="tab-register" data-mdb-pill-init href="/admin/SignUp/SignUp" role="tab"
                               aria-controls="pills-register" aria-selected="false">Register</a>
                        </li>
                    </ul>
                }
            }



        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Footer</p>
        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2>P2N</h2>
                <ul>


                    <li>@Html.ActionLink("Về Chúng Tôi", "About", "Home")</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                </ul>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2>Tài Nguyên</h2>
                <ul>
                    <li>@Html.ActionLink("Ôn tập", "Index", "Contests")</li>
                    <li>@Html.ActionLink("Tham Gia Kỳ Thi", "Index", "Contests")</li>

                </ul>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2>Thông Tin Liên Hệ</h2>
                <ul class="icon">
                    <li><i class="fa fa-phone" aria-hidden="true">Số Điện Thoại:</i></li>
                    <li><i class="fa fa-address-card" aria-hidden="true">Địa Chỉ:</i></li>
                    <li><i class="fa fa-address-book" aria-hidden="true">Email:</i></li>
                </ul>
            </section>
        </div>
    </footer>
    <script>
      // Hide the success message after 2 seconds
      setTimeout(function () {
          var messageDiv = document.querySelector('.alert-success');
          if (messageDiv) {
              messageDiv.style.display = "none"; // Hide the message
          }
      }, 2000); // 2000 milliseconds = 2 seconds
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
