@model WebTracNghiemTiengAnhTHPT.Models.TaiKhoan
@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
}
<div class="personal-info-page">
    <h2>Thông tin cá nhân</h2>
    @if (Model != null) // Kiểm tra nếu Model không null
    {
        using (Html.BeginForm("Save", "ThongTinCaNhan", FormMethod.Post))
        {
            @Html.AntiForgeryToken() <!-- Add this line to include the anti-forgery token -->
            <div class="form-container">
                <div class="form-group">
                    <label for="HoTen"><strong>Họ tên:</strong></label>
                    @Html.TextBoxFor(m => m.HoTen, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="Gmail"><strong>Email:</strong></label>
                    @Html.TextBoxFor(m => m.Gmail, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="SoDienThoai"><strong>Số điện thoại:</strong></label>
                    @Html.TextBoxFor(m => m.SoDienThoai, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="NgaySinh"><strong>Ngày sinh:</strong></label>
                    @Html.TextBoxFor(m => m.NgaySinh, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                </div>
                <div class="form-group">
                    <label for="DiaChi"><strong>Địa chỉ:</strong></label>
                    @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        }
      
        @Html.Action("PartialLichSuLamBaiAlL", "Contests", new { area = "" })
    }
    else
    {
        <p>Không tìm thấy thông tin cá nhân.</p>
    }
</div>

<style>
    .form-container {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 30%;
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>