@model WebTracNghiemTiengAnhTHPT.Models.KyThi

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
    int made = int.Parse(Request["made"].ToString());
}

<h2>Thông tin kỳ thi kỳ thi</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-12">
            <dl class="dl-vertical">
                <dt>
                    Tên kỳ thi
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TenKyThi)
                </dd>
                <dt>
                    Số câu hỏi
                </dt>
                <dd>
                    <img src="~/Content/img/ph--question.svg" alt="Questions" />
                    @Html.DisplayFor(model => model.SoCauHoi) câu hỏi
                </dd>
                <dt>
                    Số người đã làm bài
                </dt>
                <dd>
                    <img src="~/Content/img/mdi--account-check-outline.svg" alt="Users" />
                    @Html.DisplayFor(model => model.SoCauHoi) người đã làm bài
                </dd>
                <dt>
                    Thời gian
                </dt>
                <dd>
                    <img src="~/Content/img/mingcute--time-line.svg" alt="Time" />   @Html.DisplayFor(model => model.ThoiGian) phút
                </dd>
            </dl>
            @Html.ActionLink("Tham gia", "ChiTietKyThi", "Contests", new { made = made }, new { @class = "btn btn-outline-success " })
        </div>
        <div class="col-lg-3 col-12" id="partiview">
            @Html.Action("PartialLichSuLamBai", "Contests", new { made = made })
        </div>
    </div>
    <div id="partialDangBaiContainer">
        @Html.Action("PartialDangBai", new { id = made })
    </div>
</div>

<style>
    .container {
        margin-top: 20px;
    }

    .dl-vertical dt {
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 10px;
    }

    .dl-vertical dd {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .dl-vertical img {
        vertical-align: middle;
        margin-right: 5px;
    }

    .btn-outline-success {
        margin-top: 20px;
        font-size: 1.2em;
    }

    #partiview {
        margin-top: 20px;
    }

    #partialDangBaiContainer {
        margin-top: 20px;
    }

    .dangbai-list {
        list-style-type: none;
        padding: 0;
    }

        .dangbai-list li, .dangbai-list div {
            padding: 10px;
            border: 1px solid #ddd;
            margin-bottom: 5px;
            border-radius: 4px;
            background-color: #f9f9f9;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

            .dangbai-list li:hover, .dangbai-list div:hover {
                background-color: #e0f7fa;
                transform: scale(1.05);
            }

            .dangbai-list li button, .dangbai-list div button {
                margin-left: 10px;
                background: none;
                border: none;
                color: red;
                font-size: 1.2em;
                cursor: pointer;
            }

                .dangbai-list li button:hover, .dangbai-list div button:hover {
                    color: darkred;
                }
</style>

