@model IEnumerable<WebTracNghiemTiengAnhTHPT.Models.ViewChitietKyThi_2>
@{
    ViewBag.Title = "Cuộc thi";
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
    string rq = Request["PhongThiId"]?.ToString() ?? "";
}

<h2>Danh sách kỳ thi</h2>
@if (Model != null && Model.Count() > 0)
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.CongKhai == true || !string.IsNullOrEmpty(rq))
                {
                    <div class="col-12">
                        <div class="contest-card bg-light border border-primary rounded-3 p-4 my-3 w-100">
                            <h2>@Html.DisplayFor(modelItem => item.TenKyThi)</h2>
                            <div class="d-flex justify-content-between align-items-center gap-3">
                                <span>@item.Soluot Số lượt <img src="~/Content/img/mdi--account-check-outline.svg" /></span>
                                <span>@item.ThoiGian phút <img src="~/Content/img/mingcute--time-line.svg" /></span>
                                <span>@item.DiemTrungBinh Đánh giá <img src="~/Content/img/material-symbols--star-rate.svg" /></span>
                                <span>@item.SoCauHoi câu hỏi <img src="~/Content/img/ph--question.svg" /></span>
                            </div>

                            @if (!string.IsNullOrEmpty(rq))
                            {
                                <p>Bắt đầu: @item.ThoiGianBatDau</p>
                                <p>Kết thúc: @item.ThoiGianKetThuc</p>
                            }

                            <center>
                                @Html.ActionLink("Tham gia", "ChiTiet", "Contests", new { made = item.MaDe }, new { @class = "btn btn-outline-success" })
                            </center>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
else
{
    <p>Không có kỳ thi nào</p>
}

<style>
    .contest-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     
    }

        .contest-card h2 {
            font-size: 1.25rem;
        }

        .contest-card p {
            margin-bottom: 0.5rem;
        }

        .contest-card img {
            width: 20px;
            height: 20px;
        }

    .btn-outline-success {
        margin-top: auto;
    }
</style>
