@model WebTracNghiemTiengAnhTHPT.Models.KetQua

@{
    ViewBag.Title = "ChiTietKyThi";
    Layout = "~/Views/Shared/LayoutWeb.cshtml";
    var groupedItems = Model.ChiTietKetQuas
                            .GroupBy(item => new { item.CauHoi.MaNhom, item.CauHoi.NhomCauHoi.NoiDung });
    int sodapan = 0;
    int sodapandung = 0;
}

<h2>Chi tiết kết quả</h2>

<div class="container">
    <div class="row">
        <form action="/Contests/Result?MaDe=@ViewBag.MaDe" method="post">
            <div class="col-12 d-lg-flex flex-lg-row flex-column">
                <div class="col-lg-9 col-12 ">
                    <div>

                    </div>
                    @foreach (var group in groupedItems)
                    {
                        <div class="group-container" id="group-container-@group.Key.MaNhom">
                            <div class="bg-light "> @Html.Raw(HttpUtility.HtmlDecode(@group.Key.NoiDung))</div>
                            @foreach (var item in group)
                            {
                                <div class="item-container border p-3 mb-3">
                                    <div class="field mb-2">
                                        @item.MaCauHoi : @Html.Raw(HttpUtility.HtmlDecode(item.CauHoi.NoiDung))
                                    </div>

                                    <!-- Answer choices with radio buttons -->
                                    @foreach (var answer in new[] { "A", "B", "C", "D" })
                                    {
                                        var answerText = item.CauHoi.GetType().GetProperty($"DapAn{answer}").GetValue(item.CauHoi, null);
                                        var isChecked = item.DapAnChon == answer;

                                        var isCorrect = item.CauHoi.DapAnChinhXac == answer;
                                        var cssClass = isCorrect ? "correct-answer" : (isChecked ? "incorrect-answer" : "");

                                        <label class="form-check-label bg-info w-100 my-1 border-danger border-2 @cssClass" for="dapAn@answer_@item.MaCauHoi">
                                            <span class="form-check mb-2">
                                                <input class="form-check-input" type="radio" name="answer_@item.MaCauHoi" id="dapAn@answer_@item.MaCauHoi" value="@answer" @(isChecked ? "checked" : "") disabled>
                                                @answerText
                                            </span>
                                        </label>
                                    }
                                    @if (item.CauHoi.DapAnChinhXac.ToLower().Contains(item.DapAnChon.ToLower()))
                                    {
                                        sodapandung++;
                                    }
                                    <div class="field">
                                        <strong>DapAnChinhXac:</strong> @Html.DisplayFor(modelItem => item.CauHoi.DapAnChinhXac)
                                    </div>
                                </div>
                                sodapan++;
                            }
                        </div>

                    }
                </div>
                <div class="col-lg-3 col-12 bg-light border border-primary rounded-3 p-4 mx-1 ">
                    Số đáp án đúng: @sodapandung / @sodapan
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <div id="advice-container">
        <!-- Advice will be loaded here -->
    </div>
</div>
<style>
    .correct-answer {
        background-color: green !important;
        color: white;
    }

    .incorrect-answer {
        background-color: red !important;
        color: white;
    }
</style>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var maketqua = @Model.Maketqua;
            $.ajax({
                url: '@Url.Action("GiveAdvice", "Contests")',
                type: 'GET',
                data: { maketqua: maketqua },
                success: function (data) {
                    $('#advice-container').html(data);
                },
                error: function () {
                    $('#advice-container').html('<p>Error loading advice.</p>');
                }
            });
        });
    </script>
}
