@using WebTracNghiemTiengAnhTHPT.Models;
@{
    ViewBag.Title = "ChiTietDeThi";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
    List<NhomCauHoi> groupedItems = Session["questions"] as List<NhomCauHoi>;
}


<h2>Chi tiết đề thi</h2>

<div class="">
    <table>
        @foreach (var nhom in groupedItems)
        {
            <tr>
            
                <td colspan="5"> @nhom.MaNhom <strong>@nhom.NoiDung</strong></td>
            </tr>
            foreach (var item in nhom.CauHois)
            {
                <tr>
                    <td>@item.MaCauHoi</td>
                    <td>@Html.DisplayFor(modelItem => item.NoiDung)</td>
                    <td>
                        <ul>
                            <li>A: @Html.DisplayFor(modelItem => item.DapAnA)</li>
                            <li>B: @Html.DisplayFor(modelItem => item.DapAnB)</li>
                            <li>C: @Html.DisplayFor(modelItem => item.DapAnC)</li>
                            <li>D: @Html.DisplayFor(modelItem => item.DapAnD)</li>
                        </ul>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.DapAnChinhXac)</td>
                    <td>
                        <!-- Add any additional actions or buttons here -->
                    </td>
                </tr>
            }
        }
    </table>
</div>
