@model IEnumerable<WebTracNghiemTiengAnhTHPT.Models.CauHoi>
@{
    ViewBag.Title = "ChiTietDeThi";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
    var groupedItems = Model.GroupBy(item => new { item.NhomCauHoi.MaNhom, item.NhomCauHoi.NoiDung });
}
<script src="~/Scripts/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '.mytextarea',
        license_key: 'gpl|<your-license-key>'
    });
  
</script>
<div>
    <h3>Danh sách câu hỏi khác</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã Câu Hỏi</th>
                <th>Câu Hỏi</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.OtherQuestions as List<WebTracNghiemTiengAnhTHPT.Models.CauHoi>)
            {
                <tr>
                    <td>@item.MaCauHoi</td>
                    <td>@item.NoiDung</td>
                    <td>
                        @using (Html.BeginForm("AddQuestionToExam", "QuanLyDeThi", FormMethod.Post))
                        {
                            @Html.Hidden("made", (int)ViewBag.made)
                            @Html.Hidden("maCauHoi", item.MaCauHoi)
                            <button type="submit" class="btn btn-primary">Thêm</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h2>Chi tiết đề thi</h2>

<div class="">
    @using (Html.BeginForm("LuuThayDoi", "QuanLyDeThi", new { made = ViewBag.made }, FormMethod.Post))
    {
        foreach (var group in groupedItems)
        {
            @Html.TextArea("NoiDung_" + group.Key.MaNhom, HttpUtility.HtmlDecode( group.Key.NoiDung), new { @class = "form-control mytextarea", style = "width: 100%;" })

            foreach (var item in group)
            {
                <div class="item-container border p-3 mb-3">
                    <div class="field mb-2">
                        @item.MaCauHoi :
                        @Html.TextArea("NoiDung_" + item.MaCauHoi, HttpUtility.HtmlDecode(item.NoiDung), new { @class = "form-control mytextarea", style = "width: 100%;" })
                        <button type="submit" name="action" value="delete_@item.MaCauHoi" class="btn btn-danger">Xóa câu hỏi khỏi đề thi</button>
                    </div>

                    <!-- Answer choices with radio buttons -->
                    <label class="form-check-label bg-info w-100 my-1 border-danger border-2" for="dapAnA_@item.MaCauHoi">
                        <span class="form-check mb-2">
                            <input @(item.DapAnChinhXac == "A" ? "checked" : "") class="form-check-input" type="radio" name="answer_@item.MaCauHoi" id="dapAnA_@item.MaCauHoi" value="A">
                            @Html.DisplayFor(modelItem => item.DapAnA)
                        </span>
                    </label>
                    <label class="form-check-label bg-info w-100 my-1" for="dapAnB_@item.MaCauHoi">
                        <span class="form-check mb-2">
                            <input @(item.DapAnChinhXac == "B" ? "checked" : "") class="form-check-input" type="radio" name="answer_@item.MaCauHoi" id="dapAnB_@item.MaCauHoi" value="B">
                            @Html.DisplayFor(modelItem => item.DapAnB)
                        </span>
                    </label>
                    <label class="form-check-label bg-info w-100 my-1" for="dapAnC_@item.MaCauHoi">
                        <span class="form-check mb-2">
                            <input @(item.DapAnChinhXac == "C" ? "checked" : "") class="form-check-input" type="radio" name="answer_@item.MaCauHoi" id="dapAnC_@item.MaCauHoi" value="C">
                            @Html.DisplayFor(modelItem => item.DapAnC)
                        </span>
                    </label>
                    <label class="form-check-label bg-info w-100 my-1" for="dapAnD_@item.MaCauHoi">
                        <span class="form-check mb-2">
                            <input @(item.DapAnChinhXac == "D" ? "checked" : "") class="form-check-input" type="radio" name="answer_@item.MaCauHoi" id="dapAnD_@item.MaCauHoi" value="D">
                            @Html.DisplayFor(modelItem => item.DapAnD)
                        </span>
                    </label>
                </div>
            }
        }
        <button type="submit" class="btn btn-success">Lưu</button>
    }
</div>
